In [46]:
import glob
import zipfile
import pandas as pd

# Unzip the fedcodes, combine files, and create a csv
BRONZE_FEDCODES_PATH = '/usr/datalake/bronze/fedcodes'
SILVER_FEDCODES_PATH = '/usr/datalake/silver/fedcodes'

In [47]:
zipfile_path = f'{BRONZE_FEDCODES_PATH}/FedCodes_AllStates_Text.zip'

with zipfile.ZipFile(zipfile_path, 'r') as zip_ref:
    zip_ref.extractall(SILVER_FEDCODES_PATH)

In [48]:
glob_path = f'{SILVER_FEDCODES_PATH}/Text/FederalCodes_*.txt'

# Get CSV files list from a folder
csv_files = glob.glob(glob_path)

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file, delimiter='|') for file in csv_files)

# Pandas doesn't like to concatinate "empty" DataFrames
df_list = [dataframe for dataframe in df_list if dataframe.shape[0] > 0]

# Concatenate all DataFrames
df = pd.concat(df_list, ignore_index=True)

del df_list
df.head()

,feature_id,feature_name,feature_class,census_code,census_class_code,gsa_code,opm_code,state_name,state_numeric,county_sequence,...,county_numeric,date_created,date_edited,bgn_type,bgn_authority,bgn_date,prim_lat_dms,prim_long_dms,prim_lat_dec,prim_long_dec
0,1397658,Ester,Populated Place,23460,U5,760.0,760.0,Alaska,2,1,...,90,01/01/2000,06/07/2022,Official,Board Decision,01/01/1965,645050N,1480052W,64.847222,-148.014444
1,1397685,Two Rivers,Populated Place,79830,U5,2668.0,2668.0,Alaska,2,1,...,90,01/01/2000,02/04/2011,NaN,NaN,NaN,645220N,1470218W,64.872222,-147.038333
2,1397926,Afognak,Populated Place,00425,U6,8.0,8.0,Alaska,2,1,...,150,01/01/2000,02/10/2011,Official,Board Decision,01/01/1966,580120N,1524555W,58.022124,-152.765226
3,1397967,Aguikchuk,Populated Place,00540,U6,10.0,10.0,Alaska,2,1,...,50,03/31/1981,06/07/2022,NaN,NaN,NaN,602830N,1642608W,60.475000,-164.435556
4,1398007,Akhiok,Populated Place,00650,P1,20.0,20.0,Alaska,2,1,...,150,01/01/2000,02/10/2011,Official,Board Decision,01/01/1939,565644N,1541013W,56.945556,-154.170278

In [49]:
csv_path = f'{SILVER_FEDCODES_PATH}/FederalCodes.csv'

df.to_csv(csv_path, index=False)