In [1]:
import pandas as pd
import maidenhead as mh
import numpy as np

STATION_CSV = '/usr/datalake/silver/igra/doc/igra2-station-list.csv'
LAT = 45.
LON = -93.

In [2]:
def haversine_distance(lat1, lon1, lat2, lon2, earth_radius=6371): # Earth radius in km
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = np.sin(dlat / 2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2.0)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    distance = earth_radius * c
    return distance

In [3]:
station_df = pd.read_csv(STATION_CSV)
station_df = station_df[station_df['lst_year'] == 2025]
station_df.head()

,id,latitude,longitude,elevation,state,name,fst_year,lst_year,nobs
1,AEM00041217,24.4333,54.6500,16.0,NaN,ABU DHABI INTERNATIONAL AIRPOR,1983,2025,41012
10,AGM00060390,36.6899,3.2166,25.0,NaN,DAR-EL-BEIDA,1948,2025,70771
25,AGM00060571,31.6543,-2.2524,808.6,NaN,BECHAR,1949,2025,58801
33,AGM00060630,27.2537,2.5116,268.0,NaN,IN-SALAH,1964,2025,50051
35,AGM00060656,27.7041,-8.1692,443.0,NaN,TINDOUF,1973,2025,14540

In [13]:
station_df['distance'] = station_df.apply(lambda x: haversine_distance(x.latitude, x.longitude, LAT, LON), axis=1)
station_df = station_df.sort_values(by='distance')
lat, lon = station_df.iloc[0][['latitude', 'longitude']]
station_df.head()

,id,latitude,longitude,elevation,state,name,fst_year,lst_year,nobs,distance
2366,USM00072649,44.8497,-93.5647,290.2,MN,CHANHASSEN; MN.,1937,2025,28140,47.496035
2365,USM00072645,44.4986,-88.1119,209.3,WI,GREEN BAY/A.-STRAUBEL; WI.,1940,2025,63195,389.956363
2383,USM00072747,48.5647,-93.3975,357.3,MN,INT.FALLS/FALLS INT. MN.,1942,2025,62699,397.528812
2406,USM00074455,41.6114,-90.5817,230.5,IA,QUAD CITY; IA.,1935,2025,24623,424.525980
2369,USM00072659,45.4556,-98.4133,398.4,SD,ABERDEEN/REG.; SD.,1994,2025,22608,426.867060

In [15]:
print(lat, lon)

44.8497 -93.5647