In [12]:
import glob
import pandas as pd

from pathlib import Path

ARTIFACTS_PATH = '/usr/datalake/silver/stormevents/artifacts/igra_storm_event_autoencoder'
STATION_LIST = '/usr/datalake/silver/igra/doc/igra2-station-list.csv'

In [13]:
def enumerate_brains(base_path: str) -> list[str]:
    result = []

    for path in glob.glob(f'{base_path}/*_fnn.pt'):
        filename = Path(path).name
        station_id = filename.removesuffix('_fnn.pt')

        result.append(station_id)
    
    return result

In [14]:
df_all_stations = pd.read_csv(STATION_LIST)
df_all_stations.head()

,id,latitude,longitude,elevation,state,name,fst_year,lst_year,nobs
0,ACM00078861,17.1170,-61.7830,10.0,NaN,COOLIDGE FIELD (UA),1947,1993,13896
1,AEM00041217,24.4333,54.6500,16.0,NaN,ABU DHABI INTERNATIONAL AIRPOR,1983,2025,41006
2,AEXUAE05467,25.2500,55.3700,4.0,NaN,SHARJAH,1935,1942,2477
3,AFM00040911,36.7000,67.2000,378.0,NaN,MAZAR-I-SHARIF,2010,2014,2179
4,AFM00040913,36.6667,68.9167,433.0,NaN,KUNDUZ,2010,2013,4540

In [15]:
brains = enumerate_brains(ARTIFACTS_PATH)
brains

['BBM00078954',
 'BHM00078583',
 'CJM00078384',
 'COM00080001',
 'DRM00078486',
 'JMM00078397',
 'NNM00078866',
 'RQM00078526',
 'TDM00078970',
 'UCM00078988',
 'USM00070026',
 'USM00070133',
 'USM00070200',
 'USM00070219',
 'USM00070231',
 'USM00070261',
 'USM00070273',
 'USM00070308',
 'USM00070316',
 'USM00070326',
 'USM00070350',
 'USM00070361',
 'USM00070398',
 'USM00072201',
 'USM00072202',
 'USM00072206',
 'USM00072208',
 'USM00072210',
 'USM00072215',
 'USM00072230',
 'USM00072233',
 'USM00072235',
 'USM00072240',
 'USM00072248',
 'USM00072249',
 'USM00072250',
 'USM00072251',
 'USM00072261',
 'USM00072265',
 'USM00072274',
 'USM00072293',
 'USM00072305',
 'USM00072317',
 'USM00072318',
 'USM00072327',
 'USM00072340',
 'USM00072357',
 'USM00072363',
 'USM00072364',
 'USM00072365',
 'USM00072376',
 'USM00072381',
 'USM00072388',
 'USM00072402',
 'USM00072403',
 'USM00072426',
 'USM00072440',
 'USM00072451',
 'USM00072456',
 'USM00072476',
 'USM00072489',
 'USM00072493',
 'USM00072501',
 'USM00072518',
 'USM00072520',
 'USM00072528',
 'USM00072558',
 'USM00072562',
 'USM00072572',
 'USM00072582',
 'USM00072597',
 'USM00072632',
 'USM00072634',
 'USM00072645',
 'USM00072649',
 'USM00072659',
 'USM00072662',
 'USM00072672',
 'USM00072681',
 'USM00072694',
 'USM00072712',
 'USM00072747',
 'USM00072764',
 'USM00072768',
 'USM00072776',
 'USM00072786',
 'USM00072797',
 'USM00074389',
 'USM00074455',
 'USM00074560',
 'USM00091165',
 'USM00091285']

In [20]:
df_filtered_stations = df_all_stations[df_all_stations['id'].isin(brains)]
df_filtered_stations.head()

,id,latitude,longitude,elevation,state,name,fst_year,lst_year,nobs
193,BBM00078954,13.0716,-59.4922,56.6,NaN,GRANTLEY ADAMS,1965,2025,31817
224,BHM00078583,17.5333,-88.3000,5.0,NaN,BELIZE/PHILLIP GOLDSTON INTL.,1980,2025,21481
674,CJM00078384,19.2944,-81.3632,3.0,NaN,OWEN ROBERTS AIRPORT GRAND CAY,1956,2025,37597
687,COM00080001,12.5833,-81.7167,1.0,NaN,SAN ANDRES (ISLA)/SESQUICENTEN,1956,2025,27604
728,DRM00078486,18.4734,-69.8705,14.0,NaN,SANTO DOMINGO (78486-0),1962,2025,28418

In [21]:
df_filtered_stations.to_csv(f'{ARTIFACTS_PATH}/brains_station_list.csv', index=False)